<div class="container m-5">

  <div class="d-flex flex-column p-3">
    <div class="m-3">
      <input type="text" class="form-control" placeholder="Поиск" [(ngModel)]="filter">
    </div>
    <div class="m-3 p-2">
      <label>Сортировка по дате публикации</label>
      <select [(ngModel)]="sorting" class="form-select" >
        <option value="id2">
          Сначала новые рецепты
        </option>
        <option value="id">
          Сначала старые рецепты
        </option>
      </select>
    </div>
  </div>


  <div *ngFor="let recipe of RecipeList | sort: filter : sorting" class="d-flex flex-column m-3 mb-0">
    <div class="d-flex flex-row m-3">
      <div class="d-flex justify-content-center bd-highlight" style="width: 30%;" >
        <div>
            <img [src]=recipe.photo  class="card-img-top">
        </div>
      </div>
      <div class="p-3 pt-0" style="width: 80%;">
        <div class="d-flex flex-row">
          <h5>{{recipe.title}}</h5>
          <h6 class="m-3 mt-1">{{recipe.category}}</h6>
        </div>
        <div>
          <h6>Ингредиенты</h6>
          <p>{{recipe.ingredients}}</p>
          <h6 class="mt-1">Описание</h6>
          {{recipe.description}}
        </div>
          <div class="d-flex flex-row justify-content-end">
              <div class="d-flex flex-row m-0 p-2 pt-0">
                <p>Автор:</p>
                <p>{{recipe.author}}</p>
              </div>
              <p>{{recipe.published}}</p>
          </div>
      </div>
    </div>
  </div>
</div>